h2{
    color: blue;
    text-align: center;
}

.text{
    color: red;
    font-size: 25px;
}
#gulyat{
    color: yellow;
}

.glavniy{
    text-align: center;
    font-size: 35px;
    background-color: aqua;
    border-radius: 30px;
}
.spisok{
    color: red;
    list-style: none;
}
#lentay{
    background-color: red;
    text-align: center;
    font-size: 35px;
    color: black;    
}
#lentay{
    background-color: red;
    text-align: center;
    font-size: 35px;
    background-color: yellow;
}
#gulyat{
    color: yellow;
}
.cssspan{
    color: black;
    background-color: yellow;
}
.Yaratgan {
    color: white;
    background-color: black;
}
.azizbekspan{
    color: blue;
    background-color: aqua;
    border-radius: 20px;
}

h2{
    color: blue;
    text-align: center;
}
.HTMLspan{
    color: black;
    background-color: yellow;
    
}

.vaspan{
    color: white;
    background-color: black;
}
.cssspan{
    color: black;
    background-color: yellow;
}
.Yaratgan {
    color: white;
    background-color: black;
}
#lentay{
    background-color: red;

}
.minima{
    text-align: center;
    font-size: 35px;
    background-color: red;
    border-radius: 30px;
}
.yildan{
    color: black;
    font-size: 35px;
    background-color: yellow;
    border-radius: 30px;
}
.lshlab{
    color: white;
}
.dolore{
    text-align: center;
    font-size: 35px;
    background-color: white;
    border-radius: 30px;
}
.HTML{
    color: white;
    font-size: 35px;
    background-color: blue;
    border-radius: 30px;
}
.XHTML{
    color: white;
    font-size: 35px;
    background-color: brown;
    border-radius: 30px;
}
.CSS{
    color: white;
    font-size: 35px;
    background-color: green;
    border-radius: 30px;
}
.facilis{
    text-align: center;
    font-size: 35px;
    background-color: black;
    border-radius: 30px;
}
.HTML{
    color: aqua;
    font-size: 35px;
    background-color: black;
    border-radius: 30px;
}
.CEO{
    color: white;
    background-color: blue;
}

.Stiven{
    color: white;
    background-color: orange;
} 
